.sidebar-filter {
  padding: 24px 30px 30px;

  color: $color-light;

  @include md-min {
    border-right: 1px solid $color-light;
    background-color: rgba($color-light, 0.25);
  }

  @include md {
    border-top: 1px solid $color-light;
  }

  legend {
    font-weight: bold;
  }
  &__submit {
    height: 50px;
  }
  .form-check {
    margin: 9px 0;

    &-label {
      margin-left: -3px;
      font-weight: lighter;
      font-size: 1.31rem;
    }

    &-input {
      margin-top: 12px;
      margin-right: 0px;
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      border: 1px solid $color-light;
      border-radius: 0;
      background-color: transparent;
      &:focus {
        outline: none;
      }

      &:checked {
        background-color: $color-light;
      }
    }
  }

  &__more {
    display: block;

    margin-bottom: 24px;
    margin-left: 8px;
    color: $color-light;

    font-size: 1.31rem;
    text-decoration: none;
  }

  &__submit {
    border: 1px solid $color-light;
    border-radius: 0;
    background-color: $color-dark;
    font-size: 1.31rem;
    font-weight: 700;
  }
}
.sidebar {
  padding-right: 15px;
}
legend {
  font-size: 1.31rem;
  font-weight: 500;
  // margin-bottom: 17px;
  // :not(:first-of-type) {
  //   margin-top: 100px !important;
  // }
}
.form-group {
  margin-bottom: 41px;
  // font-size: 1.4rem;
}
fieldset:last-of-type {
  margin-bottom: 4px;
}