.page-footer {
  background-color: rgba($color-light, 0.8);
  margin-top: 48px;

  &__copyright {
    padding-top: 32px;
    padding-bottom: 28px;

    text-align: center;

    color: $color-dark;

    font-size: 1.31rem;
  }
}
