.header {
  &__navbar {
    background-color: rgba($color-light, 0.8);

    @include md-min {
      .dropdown.show {
        background-color: $color-dark;

        .dropdown-toggle {
          color: $color-light !important;
        }
      }
      .dropdown-menu {
        margin-top: 1px;

        border: none;
        border-radius: 0;
        background-color: $color-dark;

        a {
          color: $color-light;

          &:hover {
            color: $color-dark;
          }
        }
      }

      .form-control {
        padding-left: 18px;

        border-color: $color-border;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;

        font-size: 1.2rem;

        &::placeholder {
          color: $color-dark;
        }

        @media (min-width: 992px) {
          width: 12.5rem !important;
          height: 40px;
        }
        @media (max-width: 991px) {
          flex-grow: 2;
        }
      }
      button {
        padding: 0;

        color: $color-light;
        border-color: $color-dark;
        background-color: $color-dark;

        &:hover {
          color: $color-dark;
          background-color: $color-light;
        }
      }
      i {
        display: block;

        padding: 5px;

        font-size: 0.8rem;
      }
    }
  }
  &__carousel {
    margin-right: 0;
    margin-left: 0;

    border-bottom: 1px solid $color-light;
    background-color: rgba(#000000, 0.3);
  }
}
.button-form {
  @include md-min {
    position: absolute;
    right: 5.1rem;
  }
  @include md {
    width: 40px;
    height: 43px;
    margin-left: 0;
    margin-left: 0;
    padding: 2px;

    color: $color-light;
    background-color: $color-dark;
  }
}
.header {
  &__cart-btn {
    position: relative;

    width: 40px;
    height: 40px;
    margin-left: 22px !important;

    color: $color-dark;
    border: none;
    border-radius: 0;
    background-color: $color-light;

    @include md {
      width: 44px;
      height: 44px;
      margin-top: -7px !important;
      margin-left: 0 !important;
    }
    @include sm {
      margin-top: 0 !important;
    }
    &:hover {
      span {
        color: $color-light;
        background-color: $color-dark;
      }
    }

    span {
      position: absolute;
      top: -12px;
      left: -12px;

      width: 24px;
      height: 24px;

      transition: background-color 0.5s;

      color: $color-light;
      border-radius: 12px;
      background-color: $color-dark;
      box-shadow: 0 0 5px rgba(#000000, 0.75);
    }
  }

  &__cart-counter {
    display: none;

    font-style: normal;
  }
}
.fa-shopping-cart {
  font-size: 1.5rem;
}


.carousel-inner {
  height: 37.037vh;
}
.carousel-item {
  height: 100%;

  img {
    width: auto !important;
    height: 100%;
    margin: 0 auto;
  }
}
.carousel-indicators {
  z-index: 100;
}
.active {
  border: none;
}
.btn-outline-success:focus {
  outline: none !important;
  box-shadow: none;
}
.nav-link {
  color: $color-dark !important;

  font-size: 1.33rem;
}
.button-form {
  width: 30px;
  height: 30px;
  margin-right: 9px !important;
}
.navbar-logo {
  padding-top: 4px;
  padding-left: 1px;
}
.page-header__navbar-search {
  @include md {
    display: inline-flex;
    flex-wrap: nowrap;

    height: 50px;
  }
}
.form-control {
  @include md {
    position: relative;

    width: 40vw !important;
    margin-right: 0 !important;
    padding-left: 18px;

    border-color: $color-border;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;

    font-size: 1.2rem;
  }
}
