.header {
  &__navbar {
    background-color: rgba($color-light, 0.8);

    @include md-min {
      .dropdown.show {
        background-color: $color-dark;

        .dropdown-toggle {
          color: $color-light;
        }
      }
      .dropdown-menu {
        margin-top: 1px;
        border: none;
        border-radius: 0;
        background-color: $color-dark;

        a {
          color: $color-light;

          &:hover {
            color: $color-dark;
          }
        }
      }
      &__navbar-search {
        height: 50px;

        border: 1px solid $color-dark;

        flex-wrap: nowrap;

        @include sm {
          display: inline-flex;

          width: calc(100% - 100px);
        }
        
        
      }
      
      .form-control {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        border-color: $color-border;
        font-size: 1.2rem;

        @include lg-min {
          width: 12.5rem !important;
        }
        @include sm {
          flex-grow: 2;
        }
      }
      button {
        padding: 0px;
        margin: 5px;
        color: $color-light;
        border-color: $color-dark;
        background-color: $color-dark;

        &:hover {
          color: $color-dark;
          background-color: $color-light;
        }
      }
      i {
        display: block;
        padding: 10px;
      }
    }
  }
  &__carousel {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(#000000, 0.3);
    border-bottom: 1px solid $color-light;
  }
}
.button-form {
  position: absolute;
  right: 5.1rem;
}
.header {
  &__cart-btn {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 30px;

    color: $color-dark;
    border: none;
    border-radius: 0;
    background-color: $color-light;

    @include sm {
      margin-top: -12px !important;
    }
    // &:focus,
    // :active {
    //   box-shadow: none !important;
    // }
    &:hover {
      span {
        color: $color-light;
        background-color: $color-dark;
      }
    } 

    span {
      position: absolute;
      top: -12px;
      left: -12px;

      width: 24px;
      height: 24px;

      transition: background-color 0.5s;

      color: $color-light;
      border-radius: 12px;
      background-color: $color-dark;
      box-shadow: 0 0 5px rgba(#000000, 0.75);
    }
  }

  &__cart-counter {
    display: none;
  }
}
.fa-shopping-cart {
  font-size: 1.5rem;
}


.carousel-inner {
  height: 37.037vh;
}
.carousel-item {
  height: 100%;

  img {
    height: 100%;
    width: auto !important;
    margin: 0 auto;
  }
  
}
.carousel-indicators {
  z-index: 100;
}
.active {
  border: none;
}
.btn-outline-success:focus {
  outline: none !important;
   box-shadow: none;
}