.navbar {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.navbar-light .nav-link .navbar-nav {
  white-space: nowrap;
  color: #2c71b6;
  font-size: 1.2rem;
}

.btn-outline-success {
  color: #2c71b6;
  border-color: #2c71b6;
  border-radius: 0;
}

.btn-outline-success:hover {
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}

.header__navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

.header__carousel {
  margin-left: 0px;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #ffffff;
}

.button-form {
  position: absolute;
  right: 5.1rem;
}

.header__cart-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  color: #2c71b6;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
}

.header__cart-btn:hover span {
  color: #ffffff;
  background-color: #2c71b6;
}

.header__cart-btn span {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #ffffff;
  border-radius: 12px;
  background-color: #2c71b6;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.header__cart-counter {
  display: none;
}

.fa-shopping-cart {
  font-size: 1.5rem;
}

.carousel-inner {
  height: 37.037vh;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: auto !important;
  margin: 0 auto;
}

.carousel-indicators {
  z-index: 100;
}

.active {
  border: none;
}

.btn-outline-success:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  background-image: url(../img/patt.png);
  background-position: 50% 0;
  font-size: 16px;
  overflow-y: scroll;
}

.breadcrumb {
  padding: 1rem 0 0 0;
  opacity: 0.5;
  background-color: transparent;
  font-size: 14px;
}

.breadcrumb a {
  color: #ffffff;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #ffffff;
}

.breadcrumb-item.active {
  color: #ffffff;
}

.page-title__header {
  color: #ffffff;
  font-size: 2.85rem;
}

.page-title__form-select {
  width: 100%;
  margin-top: 6px;
  padding: 3px 10px 5px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #2c71b6;
  font-size: 1.25rem;
}

.page-content {
  margin-top: 30px;
}

.item-wrapper {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
}

.item-wrapper .container-fluid {
  background-color: rgba(44, 113, 182, 0.5);
}

.item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-title {
  padding-top: 0.75rem;
  color: #ffffff;
  font-size: 1.75rem;
}

.item-description {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.item-characteristics {
  margin-top: 15px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.item-characteristics span {
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #ffffff;
}

.item-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.item-buttons button {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
}

.item-buttons button:last-child {
  margin-top: 5px !important;
}

.item-price {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.item-actions {
  padding: 15px;
}

.item-actions button {
  margin-bottom: 30px !important;
  padding: 8px 5px 10px;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  font-weight: bold;
}

.item-actions button:last-child {
  margin-bottom: 15px !important;
}

.item-actions button:hover {
  color: #2c71b6;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
}

.item-actions button i {
  margin-left: 5px;
  font-size: 1rem;
}

.item-actions__cart {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.2);
}

.item-actions__cart.disabled, .item-actions__cart:disabled, .item-actions__cart.active, .item-actions__cart:active {
  opacity: 1;
  color: #ffffff !important;
  border-color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.item-actions__cart:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.load-more__link {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
}

.load-more__link a {
  text-decoration: none;
  color: #ffffff;
}

.load-more__link a:hover {
  text-decoration: underline;
}

.btn-outline-succes {
  color: #2c71b6;
  border-color: #2c71b6;
  border-radius: 0;
}

.btn-outline-succes:hover {
  color: #ffffff;
  background-color: #2c71b6;
}

.sidebar-filter {
  padding: 15px 30px 30px;
  color: #ffffff;
}

.sidebar-filter legend {
  font-weight: bold;
}

.sidebar-filter .form-check {
  margin: 10px 0;
}

.sidebar-filter .form-check-label {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.sidebar-filter .form-check-input {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: transparent;
}

.sidebar-filter .form-check-input:focus {
  outline: none;
}

.sidebar-filter .form-check-input:checked {
  background-color: #ffffff;
}

.sidebar-filter__more {
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 1.25rem;
  text-decoration: none;
}

.sidebar-filter__submit {
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: #2c71b6;
}

.page-footer {
  background-color: rgba(255, 255, 255, 0.8);
}

.page-footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #2c71b6;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .navbar-nav {
    width: calc(100% - 300px);
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-nav > .nav-item {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar-nav > .nav-item :not(.show) {
    border-left: 1px solid #2c71b6;
  }
  .navbar-nav > .nav-item:last-child {
    border-right: 1px solid #2c71b6;
  }
  .header__navbar .dropdown.show {
    background-color: #2c71b6;
  }
  .header__navbar .dropdown.show .dropdown-toggle {
    color: #ffffff;
  }
  .header__navbar .dropdown-menu {
    margin-top: 1px;
    border: none;
    border-radius: 0;
    background-color: #2c71b6;
  }
  .header__navbar .dropdown-menu a {
    color: #ffffff;
  }
  .header__navbar .dropdown-menu a:hover {
    color: #2c71b6;
  }
  .header__navbar__navbar-search {
    height: 50px;
    border: 1px solid #2c71b6;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__navbar .form-control {
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #2C71B8;
    font-size: 1.2rem;
  }
  .header__navbar button {
    padding: 0px;
    margin: 5px;
    color: #ffffff;
    border-color: #2c71b6;
    background-color: #2c71b6;
  }
  .header__navbar button:hover {
    color: #2c71b6;
    background-color: #ffffff;
  }
  .header__navbar i {
    display: block;
    padding: 10px;
  }
  .sidebar-filter {
    border-right: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
  }
}

@media (min-width: 992px) and (max-width: 767.8px) {
  .header__navbar__navbar-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: calc(100% - 100px);
  }
  .header__navbar .form-control {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .header__navbar .form-control {
    width: 12.5rem !important;
  }
}

@media (min-width: 1200px) {
  .item-actions button {
    font-size: 1.15rem;
  }
}

@media (max-width: 1199px) {
  .item-actions button {
    font-size: 0.9rem;
  }
}

@media (max-width: 991.8px) {
  .sidebar-filter {
    border-top: 1px solid #ffffff;
  }
}

@media (max-width: 767.8px) {
  .header__cart-btn {
    margin-top: -12px !important;
  }
}
