.navbar {
  margin-right: -17px;
  margin-left: -15px;
  padding-top: 27px;
  padding-bottom: 26px;
}

.navbar-light .nav-link .navbar-nav {
  white-space: nowrap;
  color: #2c71b6;
  font-size: 1.2rem;
}

.btn-outline-success {
  color: #2c71b6;
  border-color: #2c71b6;
  border-radius: 0;
}

.btn-outline-success:hover {
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}

.container {
  max-width: 1195px;
}

.fa-shopping-cart {
  padding-top: 11px !important;
  font-size: 1rem !important;
}

.navbar-collapse {
  color: #2c71b6;
}

.col-md-4 {
  padding: 0 15px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5rem;
  height: 3.5rem;
}

.header__navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

.header__carousel {
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__cart-btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 22px !important;
  color: #2c71b6;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
}

.header__cart-btn:hover span {
  color: #ffffff;
  background-color: #2c71b6;
}

.header__cart-btn span {
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #ffffff;
  border-radius: 12px;
  background-color: #2c71b6;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.header__cart-counter {
  display: none;
  font-style: normal;
}

.fa-shopping-cart {
  font-size: 1.5rem;
}

.carousel-inner {
  height: 37.037vh;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  width: auto !important;
  height: 100%;
  margin: 0 auto;
}

.carousel-indicators {
  z-index: 100;
}

.active {
  border: none;
}

.btn-outline-success:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-link {
  color: #2c71b6 !important;
  font-size: 1.33rem;
}

.button-form {
  width: 30px;
  height: 30px;
  margin-right: 9px !important;
}

.navbar-logo {
  padding-top: 4px;
  padding-left: 1px;
}

body {
  overflow-y: scroll;
  background-image: url(../img/patt.png);
  background-position: 50% 0;
  font-size: 16px;
}

.breadcrumb {
  margin-bottom: 0.75rem;
  padding: 1.5rem 0 0 0;
  opacity: 0.5;
  background-color: transparent;
  font-size: 14px;
}

.breadcrumb a {
  color: #ffffff;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #ffffff;
}

.breadcrumb-item.active {
  color: #ffffff;
}

.page-title__header {
  letter-spacing: 0;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}

.page-title__form-select {
  width: 100%;
  margin-top: 7px;
  margin-left: 3px;
  padding: 3px 10px 5px 15px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #2c71b6;
  font-size: 1.31rem;
  font-weight: 200;
}

.page-content {
  margin-top: 42px;
}

.item-title {
  padding-top: 0.4rem;
  color: #ffffff;
  font-size: 1.85rem;
}

.item-wrapper {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #ffffff;
}

.item-wrapper .container-fluid {
  padding-left: 14px;
  background-color: rgba(44, 113, 182, 0.5);
  font-size: 1.31rem;
}

.item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.75);
}

.item-description {
  color: #ffffff;
  font-size: 1.31rem;
  line-height: 1.6rem;
}

.item-characteristics {
  margin-top: 10px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.item-characteristics span {
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #ffffff;
}

.item-buttons {
  position: absolute;
  top: 9px;
  right: 7px;
}

.item-buttons button {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
}

.item-buttons button:last-child {
  margin-top: 10px !important;
}

.item-price {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.item-actions {
  padding: 15px 3px 13px 15px;
}

.item-actions button {
  margin-bottom: 15px !important;
  padding: 7px 5px 10px;
  text-transform: uppercase;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  font-weight: 500;
}

.item-actions button:last-child {
  margin-bottom: 15px !important;
}

.item-actions button:hover {
  color: #2c71b6;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
}

.item-actions button i {
  margin-left: 5px;
  font-size: 1rem;
}

.item-actions__cart {
  height: 50px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.2);
}

.item-actions__cart.disabled, .item-actions__cart:disabled, .item-actions__cart.active, .item-actions__cart:active {
  opacity: 1;
  color: #ffffff !important;
  border-color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.item-actions__cart:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.load-more {
  margin-top: -5px;
  margin-left: -1px;
}

.load-more__link {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.25rem;
}

.load-more__link a {
  text-decoration: none;
  color: #ffffff;
}

.load-more__link a:hover {
  text-decoration: underline;
}

.btn-outline-succes {
  color: #2c71b6;
  border-color: #2c71b6;
  border-radius: 0;
}

.btn-outline-succes:hover {
  color: #ffffff;
  background-color: #2c71b6;
}

.sidebar-filter {
  padding: 24px 30px 30px;
  color: #ffffff;
}

.sidebar-filter legend {
  font-weight: bold;
}

.sidebar-filter__submit {
  height: 50px;
}

.sidebar-filter .form-check {
  margin: 9px 0;
}

.sidebar-filter .form-check-label {
  margin-left: -3px;
  font-size: 1.31rem;
  font-weight: lighter;
}

.sidebar-filter .form-check-input {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 12px;
  margin-right: 0;
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: transparent;
}

.sidebar-filter .form-check-input:focus {
  outline: none;
}

.sidebar-filter .form-check-input:checked {
  background-color: #ffffff;
}

.sidebar-filter__more {
  display: block;
  margin-bottom: 24px;
  margin-left: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.31rem;
}

.sidebar-filter__submit {
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: #2c71b6;
  font-size: 1.31rem;
  font-weight: 700;
}

.sidebar {
  padding-right: 15px;
}

legend {
  font-size: 1.31rem;
  font-weight: 500;
}

.form-group {
  margin-bottom: 41px;
}

fieldset:last-of-type {
  margin-bottom: 4px;
}

.page-footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 48px;
}

.page-footer__copyright {
  padding-top: 32px;
  padding-bottom: 28px;
  text-align: center;
  color: #2c71b6;
  font-size: 1.31rem;
}

@media (min-width: 992px) {
  .navbar-nav {
    width: calc(100% - 300px);
    margin-right: 30px !important;
    padding-right: 0;
    padding-left: 123px;
  }
  .navbar-nav > .nav-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    text-align: center;
  }
  .navbar-nav > .nav-item :not(.show) {
    border-left: 1px solid #2c71b6;
  }
  .navbar-nav > .nav-item:last-child {
    border-right: 1px solid #2c71b6;
  }
  .header__navbar .dropdown.show {
    background-color: #2c71b6;
  }
  .header__navbar .dropdown.show .dropdown-toggle {
    color: #ffffff !important;
  }
  .header__navbar .dropdown-menu {
    margin-top: 1px;
    border: none;
    border-radius: 0;
    background-color: #2c71b6;
  }
  .header__navbar .dropdown-menu a {
    color: #ffffff;
  }
  .header__navbar .dropdown-menu a:hover {
    color: #2c71b6;
  }
  .header__navbar .form-control {
    padding-left: 18px;
    border-color: #2c71b8;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 1.2rem;
  }
  .header__navbar .form-control::-webkit-input-placeholder {
    color: #2c71b6;
  }
  .header__navbar .form-control::-moz-placeholder {
    color: #2c71b6;
  }
  .header__navbar .form-control:-ms-input-placeholder {
    color: #2c71b6;
  }
  .header__navbar .form-control::-ms-input-placeholder {
    color: #2c71b6;
  }
  .header__navbar .form-control::placeholder {
    color: #2c71b6;
  }
  .header__navbar button {
    padding: 0;
    color: #ffffff;
    border-color: #2c71b6;
    background-color: #2c71b6;
  }
  .header__navbar button:hover {
    color: #2c71b6;
    background-color: #ffffff;
  }
  .header__navbar i {
    display: block;
    padding: 5px;
    font-size: 0.8rem;
  }
  .button-form {
    position: absolute;
    right: 5.1rem;
  }
  .sidebar-filter {
    border-right: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
  }
}

@media (min-width: 992px) and (max-width: 1199.8px) {
  .navbar-nav {
    padding-left: 70px;
  }
}

@media (min-width: 992px) and (max-width: 991px) {
  .header__navbar .form-control {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .header__navbar .form-control {
    width: 12.5rem !important;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .item-actions button {
    font-size: 1.31rem;
  }
}

@media (max-width: 1199px) {
  .item-actions button {
    font-size: 0.9rem;
  }
}

@media (max-width: 991.8px) {
  .button-form {
    width: 40px;
    height: 43px;
    margin-left: 0;
    margin-left: 0;
    padding: 2px;
    color: #ffffff;
    background-color: #2c71b6;
  }
  .header__cart-btn {
    width: 44px;
    height: 44px;
    margin-top: -7px !important;
    margin-left: 0 !important;
  }
  .page-header__navbar-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 50px;
  }
  .form-control {
    position: relative;
    width: 40vw !important;
    margin-right: 0 !important;
    padding-left: 18px;
    border-color: #2c71b8;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 1.2rem;
  }
  .sidebar-filter {
    border-top: 1px solid #ffffff;
  }
}

@media (max-width: 767.8px) {
  .header__cart-btn {
    margin-top: 0 !important;
  }
}
